@use "@/utils/functions.scss" as *;

.deck {
	position: relative;
	display: flex;
	justify-content: center;

	padding: toRem(38px) toRem(32px) 0;

	&__container {
		max-width: toRem(375px);
	}

	&__card {
		position: relative;
	}

	&__button {
		position: absolute;
		bottom: 0;
		right: 0;

		transform: translate(10px, 10px);
	}
}
