@use "@/utils/functions.scss" as *;

.hud {
	width: toRem(249px);
	padding: toRem(14px);
	padding-bottom: 0;
	position: absolute;

	&_player {
		right: 0;
		bottom: 0;
	}

	&_enemy {
		left: 0;
		top: 0;
	}

	&__container {
		display: flex;
		flex-direction: column;
		gap: toRem(12px);
	}

	&__info {
		display: flex;
		flex-wrap: wrap;
		gap: toRem(6px);

		&_player {
			justify-content: flex-end;
		}

		&_enemy {
			justify-content: flex-start;
		}
	}

	&__group {
		display: flex;
		flex-direction: column;
		height: toRem(42px);

		&_player {
			align-items: flex-end;
		}

		&_enemy {
			align-items: flex-start;
		}
	}

	&__shields {
		&:last-child {
			transform: translateY(toRem(-7px));
		}
	}
}
