.button {
	filter: drop-shadow(-16px 16px #0d1625);
	width: fit-content;

	button {
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: 700;
		line-height: 1;

		transform: skewX(-41deg) rotate(-8deg);

		p {
			transform: skew(31deg) rotate(0deg) scale(0.8, 1.1);
			padding-inline: 8px;
		}
	}
}
