.button {
	filter: drop-shadow(-16px 16px #0d1625);
	width: fit-content;

	button {
		font-weight: 700;
		line-height: 1;

		transform: skewX(-41deg) rotate(-8deg);

		p {
			transform: skew(31deg) rotate(0deg) scaleY(1.1);
			padding-inline: 8px;
		}
	}
}
