@use "@/utils/functions" as *;

.holder {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	margin: 0 auto;
	height: 100vh;

	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: toRem(135px);

	&__container {
		padding: toRem(20px);
		// margin-top: 30vh;

		position: relative;
		display: flex;
		justify-content: center;
		overflow: hidden;
		height: 100%;
		align-items: center;

		width: 100%;

		&.justify_start {
			justify-content: flex-start;
		}
	}

	&__item {
		transition: all 0.3s ease;

		display: flex;
		justify-content: center;

		position: relative;
	}
}
