.container {
	display: flex;
	flex-direction: column;
	gap: 20%;

	align-items: center;
	justify-content: center;

	height: 100vh;
	padding: 40px 20px;
}

.logo_container {
	width: 100%;
	max-width: 400px;
}

.logo {
	width: 100%;
	object-fit: contain;
}

.menu {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.menu_item {
	font-size: 28px;
	color: #fff;
	text-align: center;
	text-decoration: none;
	font-weight: 700;
}
